/* this is the alternate css, if we decide to use this version */

body {
    background-color: #1d1f21;
    color: cornsilk;
}

.container {
    text-align: center;
    align-items: center;
    color: orange;
    
}

#title {
    font-size: 4vh;
}

#subtitle {
    font-size: 3vh;
}

#print { font-size: 4ch;}

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
    background-color: blueviolet;
    border-radius: 5px;
    border:rgb(51, 39, 131)
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

/* Reset Button */

#but {
    box-sizing: border-box;
    width: 100px;
    height: 60px;
    border: 1px solid rgb(51, 39, 131);
    margin: auto;
   /* border-radius: 5px; this makes it round */ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blueviolet;
    border-color: orange;
    color: orange;
    font-size: 2vh;
    cursor: pointer;
}

/* Game Instruction Text */

#ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-size: 2vh;
}

/* 3*3 Grid */

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9 {
    width: 80px;
    height: 60px;
    background-color: darkorange;
    border-radius: 5px;
    font-size: 7vh;
    text-align: center;
}