.body {
    background-color: #1d1f21;
    color: cornsilk;
}

/* font sizing for the text */

#title {
    font-size: 4vh;
    text-align: center;
    justify-content: center;
}

/* Game Instruction Text */

.ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-size: 2vh;
    justify-content: center;
    text-align: center;
}

/*game status element" */

#print {
    font-size: 3vh;
    justify-content: center;
}

/* Reset Button */

#but {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: 1px solid rgb(51, 39, 131);
    margin: auto;
    border-radius: 4px;
    font-family: sans-serif;
    background-color: blueviolet;
    color: orange;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/* contact button (modal */

#modalbutton {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: 1px solid rgb(51, 39, 131);
    margin: auto;
    border-radius: 4px;
    font-family: sans-serif;
    background-color:rgb(58, 45, 245);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* modal styling */
.modalstyle {background: blueviolet;}
/* sction styling, making sure gameboard iscenter alwasy ******/

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 60px auto;
    background-color: blueviolet;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

/* 3*3 Grid */

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9 {
    width: 80px;
    height: 70px;
    background-color: darkorange;
    border-radius: 5px;
    font-size: 7vh;
    text-align: center;
    cursor: pointer;
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {text-align: center;}